
.toggle_button {
  display: none;
  margin: 2rem;
  position: relative;
  width: 45px;
  height: 30px;
  background: transparent;
}

@media (max-width: 480px) {
  .toggle_button {
    width: 40px;
    height: 30px;
    background: red;
    position: relative;
    top: 0;
    right: 0;
  }

  .toggle {
    width: 30px;
    height: 4px;
    background-color: #cfcfcf;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  .toggle_active {
    transform: rotate(90deg);
    width: 30px;
    height: 4px;
    background-color: #cfcfcf;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }


}