.Container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav {
    max-height: 4rem;
    width: 100%;
    display: flex;
    background-color: rgb(31, 28, 28);
    align-items: center;
    justify-content: space-between;
}

.Name-project-icone {
    max-height: 4rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.Name-project-icone h1 {
    font-size: clamp(1.2rem, 2vw, 2rem);
    margin: 1rem;
    font-family: "Josefin Sans", serif;
    align-items: center;
    color: white;
    text-align: center;
}

.Icone {
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.painel_navegion {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.categoria_selected_active {
    font-size: calc(1rem, 0.7vw);
    font-weight: bold;
    color: rgb(253, 253, 253);
    transition: all ease-in 3ms;
    border: none;
    border-bottom: 3px solid white;
    background-color: transparent;
}

.conteiner_bts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
}

.categoria_selected_close {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    gap: 1rem;
    color: rgb(122, 122, 122);
    background-color: transparent;
    border: none;
    transition: all ease-in 3ms;
}

.categoria_selected_desative {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    gap: 1rem;
    color: rgb(122, 122, 122);
    background-color: transparent;
    border: none;
    transition: all ease-in 3ms;
}

.Imagem_perfil {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin: 1rem;
}

.panel-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .Name-project-icone h1 {
        font-size: 1.5rem;
    }
    
    .categoria_selected_close {
        display: none;  
    }

    .menu_selected_active {
        position: absolute;
        background-color: rgb(31, 28, 28);
        height: 30%;
        width: 100%;
        top: 64px;
        left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .conteiner_bts {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 1rem;
    }

    .categoria_selected_active {
        font-size: calc(1.5rem, 1vw);
        font-weight: bold;
        color: rgb(253, 253, 253);
        transition: all ease-in 3ms;
        border: none;
        border-bottom: 3px solid white;
        background-color: transparent;
    }

    .categoria_selected_desative {
        font-size: 1rem;
        font-weight: bold;
        display: flex;
        gap: 1rem;
        color: rgb(122, 122, 122);
        background-color: transparent;
        border: none;
        transition: all ease-in 3ms;
    }

    .Imagem_perfil {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin: 1rem 0rem;
    }

    .Buttons_panel {
        display: none;
    }
}
