.Container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav {
    max-height: 4rem;
    width: 100%;
    display: flex;
    background-color: rgb(31, 28, 28);
    align-items: center;
    justify-content: space-between;
}

.Name-project-icone {
    max-height: 4rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.Name-project-icone h1 {
    font-size: clamp(1.2rem, 2vw, 2rem);
    margin: 1rem;
    font-family: "Josefin Sans", serif;
    align-items: center;
    color: white;
    text-align: center;
}

.Icone {
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.painel_navegion {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.painel_navegion ul {
    height: auto;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.categoria_selected {
    font-size: calc(0.9rem, 0.5vw);
    font-weight: bold;
    color: rgb(253, 253, 253);
    transition: all ease-in 3ms;
    border: none;
    border-bottom: 3px solid white;
    background-color: transparent;
}

.painel_navegion ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    font-size: 1.2rem;
    font-family: "Josefin Sans", serif;
    padding: 1rem;
    cursor: pointer;
    list-style: none;
    transition: all 3ms;
}

.Buttons_panel {
    font-size: 1.2rem;
    display: flex;
    gap: 1rem;
    color: rgb(122, 122, 122);
    background-color: transparent;
    border: none;
    transition: all ease-in 3ms;
}

.Imagem_perfil {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin: 1rem;
}

.panel-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .Name-project-icone h1 {
        font-size: 1.5rem;
    }
    
    .painel_navegion {
        display: none;  
    }

    .painel_navegion_active {
        position: absolute;
        background-color: rgb(31, 28, 28);
        height: 30%;
        width: 100%;
        top: 64px;
        left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .painel_navegion_active ul {
        height: 50%;
        width: 100%;
        display: flex;

    }

    .Buttons_panel {
        display: none;
    }
}
