
.Painel_Books {
    height: auto;
    width: 100vh;
    display: flex;
    flex-direction: column;
}

.Card_Book {
    height: 56rem;
    width: 30.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    margin: 1rem;
    background-color: #ffffff;
    border: solid 2px rgb(209, 209, 209);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.Card_Book_Imagem {     
    height: 62%;
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.Imagem_Book {
    height: 560px;
    width: 480px;
    display: block;
    overflow: hidden;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    object-fit: cover;
}

.Card_Book_Titulo {
    height: 3rem;
    width: 100%;
    background-color: rgb(228, 228, 228);
}