
.card-book-open {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
}

.card-book-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Titulo-Book

.card-book-header, #Icone-Book-review {
  font-size: 2rem;
  font-weight: bold;
  margin: 0rem 2rem;
}

.valiacao {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0rem 1rem;
  width: 100%;
  font-family: "Josefin Sans", serif;
}

.valiacao h3 {
  font-size: 1.1rem;
  margin: 1rem 0rem;
  font-weight: 500;
  font-family: "Josefin Sans", serif;
}

.valiacao li {
  list-style: none;
  margin: 0.5rem 1rem;
  font-size: 1.1rem;
  color: #757575;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 500;
  font-family: "Josefin Sans", serif;
}


#Publication_book {
  width: auto;
  gap: 0.4rem;
  font-size: 1.1rem;
  margin: 0.5rem 1rem;
  color: #757575;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 500;
  font-family: "Josefin Sans", serif;
}

.Button_1 {
  position: relative;
  margin: 0.5rem 1.5rem;
  width: 2.5em;
  height: 2.5em;
  border: none;
  background: #2e2c2c;
  transition: background 0.3s;
}
  
.X_1 {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%) rotate(45deg);
}
  
.Y_1 {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1px;
  background-color: #fff;
  transform: translateX(-50%) rotate(-45deg);
}
  
.close_1 {
  position: absolute;
  display: flex;
  padding: 0.8rem 1.5rem;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  top: -70%;
  left: 50%;
  width: 3em;
  height: 1.7em;
  font-size: 12px;
  background-color: rgb(19, 22, 24);
  color: rgb(187, 229, 236);
  border: none;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
}
  
.Button:hover {
  background-color: rgb(211, 21, 21);
}
  
.Button:active {
  background-color: rgb(130, 0, 0);
}
  
.Button:hover > .close {
  animation: close 0.2s forwards 0.25s;
}
  
@keyframes close {
  100% {
    opacity: 1;
  }
}

.card-book__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-book__text {
  width: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-left: solid 2px black ;
}

#Titulo-Book {
  font-size: 2.3rem;
  background-color: #1a1a1a;
  color: #fff;
  font-weight: 900;
  font-family: "Josefin Sans", serif;
}

.List_buttons {
  display: flex;
  gap: 1rem;
  justify-content: end;
  width: 100%;
}

.text_edit {
  height: 95%;
  width: 98%;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0rem  1.5rem;
  line-height: 1.8; 
  white-space: pre-wrap; 
  font-family: "Josefin Sans", serif;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.save-button {
  height: 3rem;
  width: 10rem;
  border: none;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
  font-family: "Josefin Sans", serif;
}

.description-container {
  height: 95%;
  width: 98%;
  overflow-y: auto;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0rem 1.5rem;
  font-family: "Josefin Sans", serif;
}

.Button_Edit {
  position: relative;
  border: none;
  margin: 0rem 1rem;
  background-color: transparent;
  transition: background 0.3s;
  font-size: 1.6rem;
}

.card-book__image {
  width: 35rem;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-book__image img {
  height: 33rem;
  width: 26rem;
  margin: 1rem;
  border-radius: 7px;
  display: flex;
}

