.Card_opacity {
    height: 110rem;
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    padding: 10px;
}

.Form_card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
}

.selected {
  font-weight: bold;
  color: #0070f3;
  cursor: pointer;
}

.Button {
    position: relative;
    left: 92%;
    margin: 1rem;
    width: 2em;
    height: 2em;
    border: none;
    background: #2e2c2c;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5em;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
  }
  
  .Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5em;
    height: 1px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
  }
  
  .close {
    position: absolute;
    display: flex;
    padding: 0.8rem 1.5rem;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    top: -70%;
    left: 50%;
    width: 3em;
    height: 1.7em;
    font-size: 12px;
    background-color: rgb(19, 22, 24);
    color: rgb(187, 229, 236);
    border: none;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
  }
  
  .Button:hover {
    background-color: rgb(211, 21, 21);
  }
  
  .Button:active {
    background-color: rgb(130, 0, 0);
  }
  
  .Button:hover > .close {
    animation: close 0.2s forwards 0.25s;
  }
  
  @keyframes close {
    100% {
      opacity: 1;
    }
  }

.Card_add_book {
    height: 95rem;
    width: 50rem;
    z-index: inbde;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 0.5%;
    background-color: aliceblue;
}

.Card_imagem {
    height: 600px;
    margin: 2rem;
    width: auto;
    object-fit: cover;
    border-radius: 0.5%;
    display: flex;
    justify-content: center;
  }

.Imagem_book {
    width: 400px;
    height: 600px;
    border-radius: 0.5%;
    object-fit: cover;
  }

.input-group {
    display: flex;
    margin: 2rem 0rem;
    gap: 10px;
    justify-content: center;
    position: relative;
    padding: 7px 0 0;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 2px;
}

.input-text {
    font-family:  Josefin Sans;
    width: 30%;
    border: none;
    border-bottom: 2px solid #7f7f7f;
    border-radius: 0 !important;
    outline: 0;
    font-size: 19px;
    color: #7f7f7f;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.input-text::placeholder {
    color: transparent;
  }

.input-text:placeholder-shown ~ .input-text-label {
    font-size: 19px;
    font-family:  Josefin Sans;
    cursor: text;
}

.input-text-label {
    position: absolute;
    display: block;
    transition: 0.2s;
    font-family:  Josefin Sans;
    font-size: 19px;
    color: #7f7f7f;
    pointer-events: none;
}

.input-text:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #000000, #000000);
    border-image-slice: 1;
}

.input-text:focus ~ .input-text-label {
    color: #000000;
}

.input-text:not(:placeholder-shown) ~ .input-text-label,
.input-text:focus ~ .input-text-label {
    position: absolute;
    display: block;
    transition: 0.2s;
    font-family:  Josefin Sans;
    font-size: 15px;
    font-weight: 700;
    top: -17px;
}

.error {
  border-color: red;
}

.input-text:required,
.input-text:invalid {
    box-shadow: none;
}

